# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs
export ORACLE_HOME={{ oracle_client_home }}
export TNS_ADMIN=$ORACLE_HOME/network/admin
export LD_LIBRARY_PATH=$ORACLE_HOME:$ORACLE_HOME/lib:{{ siebel_path }}/siebsrvr/lib
export PATH=$ORACLE_HOME/bin:$HOME/.local/bin:$HOME/bin:$PATH