.idea
**/*.pyc
**/.vagrant
*.log
*.txt
temp
.DS_Store
*.iml
tests-local/
!requirements.txt
.vscode/
**/*.temp
*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
.idea
*.pyc
**/.mypy_cache/**
coverage/
.DS_Store
Desktop.in
.cdk.staging
cdk.out
**/temp
**/test-local
**/test.txt
cdk.context.json