connect('{{ WEBLOGIC_USERNAME }}', '{{ WEBLOGIC_PASSWORD }}', 't3://{{ groups[MW_HOSTS][0] }}:{{ MW_ADMIN_PORT }}')

domainConfig()
edit()
startEdit()
svrs = cmo.getServers()
for s in svrs:
  name = s.getName()
  cd('/Servers/'+name)
  cmo.setKeyStores('CustomIdentityAndCustomTrust')
  cmo.setCustomIdentityKeyStoreFileName('{{ CLUSTER }}/{{ DOMAIN_NAME }}/security/keystore/identity.jks')
  cmo.setCustomIdentityKeyStorePassPhrase('{{ WEBLOGIC_PASSWORD }}')
  cmo.setCustomIdentityKeyStoreType('JKS')
  cmo.setCustomTrustKeyStoreFileName('{{ CLUSTER }}/{{ DOMAIN_NAME }}/security/keystore/trust.jks')
  cmo.setCustomTrustKeyStorePassPhrase('{{ WEBLOGIC_PASSWORD }}')
  cmo.setCustomTrustKeyStoreType('JKS')
save()
activate(block="true")
disconnect()

connect('{{ WEBLOGIC_USERNAME }}', '{{ WEBLOGIC_PASSWORD }}', 't3://{{ groups[MW_HOSTS][0] }}:{{ MW_ADMIN_PORT }}')
domainConfig()
edit()
startEdit()
svrs = cmo.getServers()
for s in svrs:
  name = s.getName()
  cd('/Servers/'+name+'/SSL/'+name)
  cmo.setServerPrivateKeyAlias('{{ MW_HOSTS }}')
  cmo.setServerPrivateKeyPassPhrase('{{ WEBLOGIC_PASSWORD }}')
save()
activate(block="true")
disconnect()

exit()