connect('{{ WEBLOGIC_USERNAME }}', '{{ WEBLOGIC_PASSWORD }}', 't3://{{ groups[MW_HOSTS][0] }}:{{ MW_ADMIN_PORT }}')
edit()
startEdit()
cd('/Clusters/{{ CLUSTER_NAME }}')
cmo.setFrontendHTTPPort({{ FRONTEND_HTTP_PORT }})
cmo.setFrontendHTTPSPort({{ FRONTEND_HTTPS_PORT }})
cmo.setFrontendHost('{{ LOCAL_LOAD_BALANCER }}')
cmo.setClusterAddress('{% for host in groups[MW_HOSTS] %}{{ hostvars[host]['ansible_fqdn'] }}:{{ MS_PORT }}{{ "," if not loop.last }}{% endfor %}')
activate()
