connect('{{ WEBLOGIC_USERNAME }}', '{{ WEBLOGIC_PASSWORD }}', 't3://{{ groups[MW_HOSTS][0] }}:{{ MW_ADMIN_PORT }}')
edit()
startEdit()
cd('/')
cd('SecurityConfiguration/{{ DOMAIN_NAME }}')
cmo.setNodeManagerUsername('{{ WEBLOGIC_USERNAME }}')
cmo.setNodeManagerPassword('{{ WEBLOGIC_PASSWORD }}')
save()
activate(block="true")
disconnect()