-- OSB logger Tables, Index and Sequences

-- Table 1

CREATE TABLE "OSBLOG"."VSW_PROPERTIES" 
   ( "ID" NUMBER NOT NULL ENABLE, 
	"NAME" VARCHAR2(100 BYTE) NOT NULL ENABLE, 
	"VALUE" VARCHAR2(250 BYTE), 
	"DESCRIPTION" VARCHAR2(100 BYTE), 
	CONSTRAINT "PK_VSW_ID" PRIMARY KEY ("ID")
   USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}"  ENABLE
    ) SEGMENT CREATION IMMEDIATE 
   PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
   NOCOMPRESS LOGGING
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}" ;
    
-- Table 2
	
CREATE TABLE "OSBLOG"."VSW_AUDIT_LOG" 
   (	"VSW_AUDIT_LOG_ID" NUMBER NOT NULL ENABLE, 
	"EXTERNAL_SYSTEM" VARCHAR2(255 BYTE), 
	"API_NAME" VARCHAR2(255 BYTE), 
	"API_METHOD" VARCHAR2(255 BYTE), 
	"CLIENT_ID" VARCHAR2(255 BYTE), 
	"SESSION_ID" VARCHAR2(255 BYTE), 
	"TRANSACTION_ID" VARCHAR2(255 BYTE), 
	"CREATED_BY" VARCHAR2(20 BYTE), 
	"CREATED_DATE" TIMESTAMP (6), 
	"MODIFIED_BY" VARCHAR2(20 BYTE), 
	"MODIFIED_DATE" TIMESTAMP (6), 
	CONSTRAINT "PK_VSW_AUDIT_LOG" PRIMARY KEY ("VSW_AUDIT_LOG_ID")
   USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}"  ENABLE
    ) SEGMENT CREATION IMMEDIATE 
   PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
   NOCOMPRESS LOGGING
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}" ;

--  Table 3
  
CREATE TABLE "OSBLOG"."VSW_ORDER_LINE_DETAIL" 
   (	"ORDER_LINE_DETAIL_ID" NUMBER NOT NULL ENABLE, 
	"VIP_ORDER_NO" VARCHAR2(50 BYTE), 
	"ECPD_ID" VARCHAR2(20 BYTE), 
	"CUSTOMER_ID" VARCHAR2(20 BYTE), 
	"ACCOUNT_NO" VARCHAR2(20 BYTE), 
	"PACKAGE_NO" NUMBER, 
	"LINE_SEQ_NO" NUMBER, 
	"LINE_TRNS_STATUS" VARCHAR2(50 BYTE), 
	"LINE_TRNS_STS_DESC" VARCHAR2(250 BYTE), 
	"NEW_DEVICE_ID" VARCHAR2(20 BYTE), 
	"DEVICE_ID" VARCHAR2(20 BYTE), 
	"NEW_ICCI_ID" VARCHAR2(20 BYTE), 
	"ICC_ID" VARCHAR2(20 BYTE), 
	"NEW_DEVICE_TYPE" VARCHAR2(50 BYTE), 
	"DEVICE_TYPE" VARCHAR2(50 BYTE), 
	"LINE_STATUS" VARCHAR2(50 BYTE), 
	"NEW_MDN_NO" VARCHAR2(30 BYTE), 
	"MDN_NO" VARCHAR2(30 BYTE), 
	"NEW_MIN" VARCHAR2(30 BYTE), 
	"MIN" VARCHAR2(30 BYTE), 
	"SERVICE_PLAN_BUNDLE" VARCHAR2(50 BYTE), 
	"ADDED_FEATURES" VARCHAR2(255 BYTE), 
	"DELETED_FEATURES" VARCHAR2(255 BYTE), 
	"IMSI_VZW" VARCHAR2(255 BYTE), 
	"IP_POOL_NAME" VARCHAR2(255 BYTE), 
	"STATIC_IP_ADDR" VARCHAR2(50 BYTE), 
	"TOT_SUSPEND_ALLOWED" NUMBER, 
	"TOT_SUSPEND_ALLOWED_INST" NUMBER, 
	"TOT_SUSPEND_DAYS_USED" NUMBER, 
	"TOT_SUSPEND_DAYS_REM" NUMBER, 
	"AUTO_RECONNECT_DATE" DATE, 
	"EFFECTIVE_DATE" DATE, 
	"TRANS_CALLBACK_TIMESTAMP" TIMESTAMP (6), 
	"CALLBACK_TIMESTAMP" TIMESTAMP (6), 
	"COMPLETION_TIMESTAMP" TIMESTAMP (6), 
	"CREATED_BY" VARCHAR2(60 BYTE), 
	"CREATED_DATE" DATE, 
	"MODIFIED_BY" VARCHAR2(60 BYTE), 
	"MODIFIED_DATE" DATE, 
	"ORDER_SUMMARY_ID" NUMBER, 
	"LINE_TRNS_STATUS_CD" VARCHAR2(5 BYTE), 
	"PLAN_ID" VARCHAR2(10 BYTE), 
	"NEW_PLAN_ID" VARCHAR2(10 BYTE), 
	"NEW_SERVICE_PLAN_BUNDLE" VARCHAR2(50 BYTE), 
	"TRANSACTION_ID" VARCHAR2(255 BYTE), 
	CONSTRAINT "SYS_C007947" PRIMARY KEY ("ORDER_LINE_DETAIL_ID")
   USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}"  ENABLE
    ) SEGMENT CREATION IMMEDIATE 
   PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
   NOCOMPRESS LOGGING
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}" ;

--  Table 4
  
CREATE TABLE "OSBLOG"."VSW_ORDER_SUMMARY" 
   (	"ORDER_SUMMARY_ID" NUMBER NOT NULL ENABLE, 
	"TRANSACTION_TYPE" VARCHAR2(50 BYTE) NOT NULL ENABLE, 
	"VIP_ORDER_NO" VARCHAR2(50 BYTE), 
	"ORDER_STATUS" VARCHAR2(50 BYTE), 
	"EFFECTIVE_DATE" DATE, 
	"TOTAL_SUBMITTED_LINES" NUMBER, 
	"TOTAL_FAILED_LINES" NUMBER, 
	"CREATED_BY" VARCHAR2(60 BYTE), 
	"CREATED_DATE" DATE, 
	"MODIFIED_BY" VARCHAR2(60 BYTE), 
	"MODIFIED_DATE" DATE, 
	"APPLICATION_TYPE" VARCHAR2(10 BYTE), 
	"ENGAGEMENT_ID" VARCHAR2(20 BYTE), 
	"SERVICE_ID" VARCHAR2(20 BYTE), 
	"FAILURE_REASON_DESC" VARCHAR2(250 BYTE), 
	"TRANSACTION_ID" VARCHAR2(255 BYTE), 
	CONSTRAINT "PK_VSW_ORDER_NO_ID" PRIMARY KEY ("ORDER_SUMMARY_ID")
   USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}"  ENABLE
    ) SEGMENT CREATION IMMEDIATE 
   PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
   NOCOMPRESS LOGGING
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}" ;

-- Table 5
  
CREATE TABLE "OSBLOG"."VSW_ORDER_TRANSACTION_DETAIL" 
   (	"ORDER_TRANSACTION_DETAILS_ID" NUMBER NOT NULL ENABLE, 
	"SESSION_ID" VARCHAR2(255 BYTE), 
	"ORDER_SUMMARY_ID" NUMBER NOT NULL ENABLE, 
	"ORDER_TRANSACTION_TYPE" VARCHAR2(50 BYTE), 
	"ECPD_ID" VARCHAR2(20 BYTE), 
	"REASON_CODE" VARCHAR2(50 BYTE), 
	"ORDER_SERVICE_PLAN_BUNDLE" VARCHAR2(2000 BYTE), 
	"ORDER_ADDED_FEATURES" VARCHAR2(2000 BYTE), 
	"ORDER_DELETED_FEATURES" VARCHAR2(2000 BYTE), 
	"ORDER_EFFECTIVE_DT" DATE, 
	"CREATED_BY" VARCHAR2(60 BYTE), 
	"CREATED_DATE" DATE, 
	"MODIFIED_BY" VARCHAR2(60 BYTE), 
	"MODIFIED_DATE" DATE, 
	"ECPD_ZIP" VARCHAR2(10 BYTE), 
	CONSTRAINT "SYS_C007952" PRIMARY KEY ("ORDER_TRANSACTION_DETAILS_ID")
   USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}"  ENABLE 
    ) SEGMENT CREATION IMMEDIATE
   PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
   NOCOMPRESS LOGGING
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}" ;

-- Index 1

CREATE INDEX "OSBLOG"."VSW_ORDER_LINE_ECPD_ID" ON "OSBLOG"."VSW_ORDER_LINE_DETAIL" ("ECPD_ID") 
   PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}" ;

-- Index 2

CREATE INDEX "OSBLOG"."VSW_ORDER_LINE_INDX" ON "OSBLOG"."VSW_ORDER_LINE_DETAIL" ("VIP_ORDER_NO") 
   PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}" ;

-- Index 3

CREATE INDEX "OSBLOG"."VSW_ORDER_LINE_MDN" ON "OSBLOG"."VSW_ORDER_LINE_DETAIL" ("MDN_NO") 
   PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}" ;

-- Index 4

CREATE INDEX "OSBLOG"."TOTAL_ORDER_FAILED_LINES" ON "OSBLOG"."VSW_ORDER_SUMMARY" ("TOTAL_FAILED_LINES") 
   PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}" ;

-- Index 5

CREATE INDEX "OSBLOG"."TOTAL_ORDER_SUB_LINES" ON "OSBLOG"."VSW_ORDER_SUMMARY" ("TOTAL_SUBMITTED_LINES") 
   PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}" ;

-- Index 6

CREATE INDEX "OSBLOG"."VSW_ORDER_SUMMARY_IDX" ON "OSBLOG"."VSW_ORDER_SUMMARY" ("TRANSACTION_TYPE", "ORDER_STATUS") 
   PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}" ;

-- Index 7

CREATE INDEX "OSBLOG"."ORDER_SUMMARY_ECPD_ID" ON "OSBLOG"."VSW_ORDER_TRANSACTION_DETAIL" ("ECPD_ID") 
   PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}" ;

-- Index 8

CREATE INDEX "OSBLOG"."ORDER_SUMMARY_ID" ON "OSBLOG"."VSW_ORDER_TRANSACTION_DETAIL" ("ORDER_SUMMARY_ID") 
   PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
   STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
   PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
   BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
   TABLESPACE "{{ DB_TABLESPACE }}" ;

-- Sequence
  
CREATE SEQUENCE  "OSBLOG"."VSW_AUDIT_LOG_SEQUENCE"  MINVALUE 1 MAXVALUE 9999999999999999999 INCREMENT BY 1 START WITH 38335 CACHE 100 NOORDER  NOCYCLE  NOKEEP  GLOBAL ;
CREATE SEQUENCE  "OSBLOG"."VSW_ORDER_LINE_DETAIL_SEQ"  MINVALUE 1 MAXVALUE 9999999999999999999 INCREMENT BY 1 START WITH 32625 CACHE 100 NOORDER  NOCYCLE  NOKEEP  GLOBAL ;
CREATE SEQUENCE  "OSBLOG"."VSW_ORDER_SUMMARY_SEQ"  MINVALUE 1 MAXVALUE 9999999999999999999 INCREMENT BY 1 START WITH 31520 CACHE 100 NOORDER  NOCYCLE  NOKEEP  GLOBAL ;
CREATE SEQUENCE  "OSBLOG"."VSW_ORDER_TRANSACTION_ID_SEQ"  MINVALUE 1 MAXVALUE 9999999999999999999 INCREMENT BY 1 START WITH 32724 CACHE 100 NOORDER  NOCYCLE  NOKEEP  GLOBAL ;
CREATE SEQUENCE  "OSBLOG"."VSW_PROP_SEQ"  MINVALUE 1 MAXVALUE 9999999999999999999 INCREMENT BY 1 START WITH 10100 CACHE 100 NOORDER  NOCYCLE  NOKEEP  GLOBAL ;