#Response file
#Fri Jul 02 18:02:45 UTC 2021

DOMAIN_LOCATION={{ A_SERVER }}/{{ DOMAIN_NAME }}
SHARED_LOCATION={{ AIA_SHARED }}

#Generic
Order2Cash_Siebel=true
Order2Cash_brm=true
Order2Cash_osm=true
AABC_PIP=true
MDMProductSiebel=false
MDMProductBase=false
MDMProductDS=false
MDMProductBRM=false
SPM_PROXY_PORT=
SPM_PROXY_HOST=

#SOA
SOA_WL_MS_PORT={{ MS_PORT }}
SOA_DB_SYS_ROLE={{ SYSDB_USER_ROLE }}
SOA_WL_ADMIN_PORT={{ MW_ADMIN_PORT }}
SOA_DB_SYS_USER={{ SYSDB_USER }}
SOA_WL_DOMAIN_NAME={{ DOMAIN_NAME }}
SOA_WL_ADMIN_USER={{ WEBLOGIC_USERNAME }}
SOA_WL_MS_NAME={{ CLUSTER_NAME }}
SOA_DB_PASSWORD={{ DB_PASSWORD }}
SOA_DB_JDBC_URL=jdbc\:oracle\:thin\:@//{{ DB_HOST_NAME }}\:{{ DB_PORT }}/{{ DB_NAME }}
SOA_DB_SYS_PASSWORD={{ DB_PASSWORD }}
SOA_DB_USER={{ RCU_SCHEMA_PREFIX }}_SOAINFRA
SOA_WL_ADMIN_PASSWORD={{ WEBLOGIC_PASSWORD }}
SOA_WL_MS_HOST={{ inventory_hostname }}
SOA_WL_ADMIN_HOST={{ inventory_hostname }}


#BRM
BRM_AQ_PSWD={{ BRM_AQ_PSWD }}
BRM_DB_JDBC_URL=jdbc\:oracle\:thin\:@{{ BRM_DB_HOST }}\:{{ DB_PORT }}\:{{ BRM_AQ_DB_SID }}
BRM_PRIMARY_CM_HOST={{ BRM_PRIMARY_CM_HOST }}
BRM_VERSION={{ BRM_VERSION }}
BRM_DB_HOST={{ BRM_DB_HOST }}
BRM_AQ_DB_SID={{ BRM_AQ_DB_SID }}
BRM_PRIMARY_CM_PORT={{ BRM_PRIMARY_CM_PORT }}
BRM_AQ_QUEUE=AQ_QUEUE
BRM_AQ_USER={{ BRM_AQ_USER }}
BRM_DB_PORT={{ DB_PORT }}
PDC=false

#ODI
ODI_PASSWORD={{ ODI_DB_PSWD }}
ODI_AABC_REPNAME=WORKREP
ODI_AABC_AGENT_APP_NAME={{ ODI_AABC_AGENT_APP_NAME }}
ODI_USER={{ ODI_USER }}
ODI_PATH={{ ODI_HOME }}/user_projects/domains/{{ ODI_WLS_DOMAIN_NAME }}
ODI_AABC_AGENT_PORT={{ ODI_DOMAIN_PORT }}
ODI_DB_HOST={{ ODI_DB_HOST }}
ODI_DB_JDBC_URL=jdbc\:oracle\:thin\:@{{ ODI_DB_HOST }}\:{{ DB_PORT }}/{{ DB_NAME }}
ODI_DB_SID={{ DB_NAME }}
ODI_DB_PORT={{ DB_PORT }}
ODI_DB_USER={{ ODI_DB_USER }}
ODI_DB_PSWD={{ ODI_DB_PSWD }}
ODI_EXPORTED_DVMS={{ ODI_HOME }}/OracleODI_12C/ExportDVM

#SIEBEL
SBL_VERSION={{ SBL_VERSION }}
SBL_DB_SID={{ SBL_DB_SID }}
SBL_DB_JDBC_URL=jdbc\:oracle\:thin\:@{{ SBL_DB_HOST }}\:{{ DB_PORT }}/{{ SBL_DB_SID }}
SBL_DB_HOST={{ SBL_DB_HOST }}
SBL_HOST={{ SBL_HOST }}
SBL_PROTOCOL=http\://
SBL_EAI_USER={{ SBL_EAI_USER }}
SBL_EAI_PSWD={{ SBL_EAI_PSWD_ENCODED | b64decode }}
SBL_DB_PSWD={{ SBL_DB_PSWD_ENCODED | b64decode }}
SBL_DB_PORT={{ SBL_DB_PORT }}
SBL_PORT={{ SBL_PORT }}
SBL_LANG=enu
SBL_ENTERPRISE_SERVER_NAME={{ SBL_ENTERPRISE_SERVER_NAME }}
SBL_DB_USER={{ SBL_DB_USER }}

#XREF
XREF_SCHEMA_JDBC_URL=jdbc\:oracle\:thin\:@{{ ODI_DB_HOST }}\:{{ DB_PORT }}/{{ DB_NAME }}
XREF_TEMP_TABLESPACE=TEMP
XREF_SCHEMA_PASSWORD={{ XREF_SCHEMA_PASSWORD }}
SPLIT_XREF=false
XREF_DEFAULT_TABLESPACE={{ DB_TABLESPACE }}
XREF_SCHEMA_NAME={{ XREF_SCHEMA_NAME }}
XREF_SCHEMA_SYS_PASSWORD={{ RCU_SCHEMA_PASSWORD }}
XREF_SCHEMA_SYS_ROLE={{ SYSDB_USER_ROLE }}
XREF_SCHEMA_SYS_USER={{ SYSDB_USER }}


#OSM
OSM_VERSION={{ OSM_VERSION }}

OSM_CFS_ADMIN_USER={{ OSM_CFS_ADMIN_USER }}
OSM_CFS_ADMIN_PSWD={{ OSM_CFS_ADMIN_PSWD }}
OSM_CFS_WL_JMS_QUEUE_ACCESS_HOST={{ OSM_CFS_WL_JMS_QUEUE_ACCESS_HOST }}
OSM_CFS_WL_JMS_QUEUE_ACCESS_PORT={{ OSM_CFS_WL_JMS_QUEUE_ACCESS_PORT }}
OSM_CFS_WL_JMS_QUEUE_ACCESS_USER={{ OSM_CFS_WL_JMS_QUEUE_ACCESS_USER }}
OSM_CFS_WL_JMS_QUEUE_ACCESS_PSWD={{ OSM_CFS_WL_JMS_QUEUE_ACCESS_PSWD }}

OSM_PROV_ADMIN_USER={{ OSM_PROV_ADMIN_USER }}
OSM_PROV_ADMIN_PSWD={{ OSM_PROV_ADMIN_PSWD }}
OSM_PROV_WL_JMS_QUEUE_ACCESS_HOST={{ OSM_PROV_WL_JMS_QUEUE_ACCESS_HOST }}
OSM_PROV_WL_JMS_QUEUE_ACCESS_PORT={{ OSM_PROV_WL_JMS_QUEUE_ACCESS_PORT }}
OSM_PROV_WL_JMS_QUEUE_ACCESS_USER={{ OSM_PROV_WL_JMS_QUEUE_ACCESS_USER }}
OSM_PROV_WL_JMS_QUEUE_ACCESS_PSWD={{ OSM_PROV_WL_JMS_QUEUE_ACCESS_PSWD }}