#!/bin/bash
export JAVA_HOME={{ JAVA_HOME }}; export PATH=$JAVA_HOME/bin:$PATH

if [ -f passwdfile_odi.txt ]; then
   rm passwdfile_odi.txt
fi

for component in {% for item in RCU_COMPONENT['ODI'] %}{{ item }}{{ " " if not loop.last }}{% endfor %}; do
   echo "{{ RCU_SCHEMA_PASSWORD }}" >> passwdfile_odi.txt
done

echo "D" >> passwdfile_odi.txt
echo "{{ ODI_AABC_REPNAME }}" >> passwdfile_odi.txt
echo "{{ RCU_SCHEMA_PASSWORD }}" >> passwdfile_odi.txt
echo "AES-128" >> passwdfile_odi.txt

echo "***CREATING RCU SCHEMAS***"

sh -c "{{ ODI_HOME }}/oracle_common/bin/rcu -silent -createRepository \
-databaseType ORACLE \
-connectString {{ DB_HOST_NAME }}:{{ DB_PORT }}/{{ DB_NAME }} \
-dbUser {{ SYSDB_USER }} \
-dbRole {{ SYSDB_USER_ROLE }} \
-useSamePasswordForAllSchemaUsers true \
-schemaPrefix {{ ODI_RCU_SCHEMA_PREFIX }} \
{% for item in RCU_COMPONENT['ODI'] %}
-component {{ item }} -tablespace {{ DB_TABLESPACE }} -tempTablespace TEMP \
{% endfor %}
-f < ./passwdfile_odi.txt"

#rm passwdfile